<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quietcorners"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.quietcorners.permission.MAPS_RECEIVE" />

    <permission
        android:name="com.example.quietcorners.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />
    <!-- Feature needed for Maps -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"
        android:name="android.hardware.wifi" />
    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <uses-library android:name="com.google.android.maps" />
        <!-- Main Activity -->
        <activity
            android:name=".Main"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- About Activity -->
        <activity
            android:name=".About"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!-- Explore Activity -->
        <activity
            android:name=".Explore"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!-- Record Activity -->
        <activity
            android:name=".Record"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!-- Sound Record Activity -->
        <activity
            android:name=".SoundRecord"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!-- Lumen Record Activity -->
        <activity
            android:name=".LumenRecord"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!-- Wifi Test Activity -->
        <activity
            android:name=".WifiTest"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!-- Confirm Activity -->
        <activity
            android:name=".Confirm"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!-- Picture Recording Activity  -->
        <activity
            android:name=".PicRecord"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <!-- LocationDetails Activity -->
        <activity
            android:name=".LocationDetails"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity android:name=".LumenRecord" />
        <activity android:name=".LumenRecord" />
        <!-- This is our Map API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCHHJwgSalsETgYzM7_gYhziKB2OjbBZGo" />
    </application>
</manifest>
